name: Build and Deploy DryWeb

on:
  push:
    branches:
      - ${{ github.default_branch }}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.22"

      - name: Build WASMS
        run: |
          ./build.sh --no-serve

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: static

  deploy:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write

    steps:
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
